body, html {
    font-family: "Roboto", sans-serif;
    background: white;
    height: 100%;
}

h1 {
  color: black;
}

.all-posts-display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navBar {
  height: 100px;
}

.input-box {
  width: 100%;
}