body, html {
  font-family: 'Special Elite', cursive;
  height: 100%;
}

.web-body {
  background-color:  rgb(237, 230, 243);
  min-height: 100vh;
}

.all-posts-display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.navBar {
  background-color: rgb(129, 75, 156);
  font-family: 'Special Elite', cursive;
  height: 80px;
}

.navbar-icon {
  color: rgb(64, 9, 92) !important;
}

.navbar-icon:hover {
  color: rgb(32, 0, 47) !important;
}

.navbar-links {
  color: rgb(64, 9, 92) !important;
  margin-top: 5px;
}

.navbar-links:hover {
  color: rgb(32, 0, 47)  !important;
}
 
.website-title {
  color: rgb(64, 9, 92) !important;
  text-align: center;
}

.posts-title {
  font-family: 'Special Elite', cursive;
  color: rgb(64, 9, 92);
  margin-top: 25px;
  margin-left: 100px;
}

.bootstrap-card {
  margin: 20px;
}

.card-body {
  background-color: rgb(248, 248, 248);
}

.card-title.h5 {
  color: rgb(64, 9, 92);
  font-family: 'Special Elite', cursive;
  font-size: 25px;
}

.card-text {
  color: rgb(64, 9, 92);
  font-family: 'Special Elite', cursive;
}

.back-button {
  margin-top: 35px;
  margin-bottom: 20px;
}

.back-button:hover {
  color: #8b8888;
}

.create-title {
  margin-top: 10px;
  margin-bottom: 20px;
}

.note-container {
  margin-top: 40px;
  padding-bottom: 35px;
  padding-left: 30px !important;
  border-right: 10px;
  border-left: 10px;
  background-color: #ffffff;
}

.post-buttons {
  margin-top: 35px;
  margin-bottom: 40px;
  margin-right: 20px;
}

.post-buttons:hover {
  color: #8b8888;
}

.new-post-button {
  margin-right: 20px;
  margin-top: 10px;
}

.new-post-button:hover {
  color: #8b8888;
}

.input-box {
  width: 100%;
  border: 1px solid #ced4da
}

.title {
 font-weight: bold;
 font-family: 'Special Elite', cursive;
}

.post-author {
  font-family: 'Special Elite', cursive;

}

.tags {
  color: #8b8888;
  font-family: 'Special Elite', cursive;
}

.navbar-brand {
  font-size: 2rem !important;
}

#preview {
  width: 400px;
  height: auto;
}